<!DOCTYPE html>
<html>
  <head>
    <title>This is About page</title>
  </head>
  <body>
    <%- include layout %>
    <div class = "container-fluid">
        <h1>About Us</h1>
        <p>Welcome to about us page</p>
        <h2>Hi my name is Narawich Youbua I am a backend developer of this project.</h2>
        <a href="/">Go to index page</a>
    </div>
  </body>
</html>
