<!DOCTYPE html>
<html>
  <head>
    <title>This is About page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About Us</h1>
    <p>Welcome to about us page</p>
    <h2>Hi my name is Narawich Youbua I am a backend developer of this project.</h2>
    <a href="/">Go to index page</a>
  </body>
</html>
