<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include layout %>
    <div class = "container-fluid">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h2>Hi this is another project practice</h2>
      <a href="/about">Go to about page</a>
      <br>
      <a href="/products">See all products.</a>
      <br>
      <a href="/social">Community</a>
    </div>
  </body>
</html>
