<!DOCTYPE html>
<html>
  <head>
    <title>This is all products.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All products</h1>
    <h2>product 1</h2>
    <a href="/">Go to index</a>
  </body>
</html>
