<!DOCTYPE html>
<html>
  <head>
    <title>Q&A.</title>
  </head>
  <body>
    <%- include layout %>
    <div class = 'container-fluid'>
        <h1>This is Q and A forum.</h1>
        <h3>All Question.</h3>
        <a href="/">Go to index</a>
        <br>
        <a href="/social">Back to Community.</a>
    </div>
  </body>
</html>
