<!DOCTYPE html>
<html>
  <head>
    <title>This is Our Community.</title>
  </head>
  <body>
    <%- include layout %>
    <div class = 'container-fluid'>
        <h1>This is Our Community.</h1>
        <h3>All Community</h3>
        <a href="/">Go to index</a>
    </div>
  </body>
</html>
