<!DOCTYPE html>
<html>
  <head>
    <title>This is Our Community.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is Our Community.</h1>
    <h3>All Community</h3>
    <a href="/">Go to index</a>
  </body>
</html>
