extends layout

block content
  h1= title
  p Welcome to My NodeJS website 
  if user
    p Hi there #{ user.name }.
    p Let we call you #{ user.username }
    a(href="/logout", class="btn btn-link") logout 
  else
    p Hi there Guest.
    a(href="/register") Don't have an account?  
  